{% extends 'base.html'%}
{%block title%}详情{% endblock%}
{% block head %}
    <link rel="stylesheet" href="../static/css/login-register.css">
    <link rel="stylesheet" href="../static/css/myself.css">
{% endblock %}

{% block main %}

<div class="page-header gao-du">
  <div class="jumbotron">
  <h1 style="text-align: center;">暑期大作战</h1>
  <p style="text-align: center">特别推出的旅游活动系列</p>
</div>
<div class="container">
  <h2>系列一:</h2>
  <h4>新西兰皇后镇</h4>
  <blockquote class="lead">
    <p> 新西兰-南北岛9日游&gt;
        全国联运/梯卡坡温泉观星/2晚皇后镇/B线含霍比特/库克山/
        箭镇/瓦纳卡/缆车登顶/毛利村/ 萤火虫洞</p>
    <footer class="blockquote-footer">From Lin's website</footer>
      <button type="button" class="btn btn-success;" style="float: right;" >订购</button>
  </blockquote>

    <h2>系列二:</h2>
  <h4>马尔代夫</h4>
  <blockquote class="lead">
    <p> 马尔代夫莫凡彼岛Movenpick5晚7日自由行&gt;新开六星，
        赠暗礁浮潜，巧克力品尝，水屋玻璃地板，第1晚马累</p>
    <footer class="blockquote-footer">From Lin's website</footer>
      <button type="button" class="btn btn-success;" style="float: right;">订购</button>
  </blockquote>


        <h2>系列三:</h2>
  <h4>横店影视城</h4>
  <blockquote class="lead">
    <p> 横店影视城-梦幻谷高铁动车2-3日自由行&gt;
        宿四星国贸大厦或丰景嘉丽或贵宾楼酒店+3点4点联票套餐自选+水世界明星见面会嗨爆假期</p>
    <footer class="blockquote-footer">From Lin's website</footer>
      <button type="button" class="btn btn-success;" style="float: right;">订购</button>
  </blockquote>

        <h2>系列四:</h2>
  <h4>巴厘岛</h4>
  <blockquote class="lead">
    <p> 巴厘岛机票+当地4晚5-6日游&gt;臻程2人起订/蓝梦岛出海/阿勇河漂流/火山石SPA/
        峡谷景观下午茶/独栋泳池别墅+海边国五/WIFI/纯玩（全国出发）</p>
    <footer class="blockquote-footer">From Lin's website</footer>
      <button type="button" class="btn btn-success;" style="float: right;">订购</button>
  </blockquote>
</div>
</div>

{% endblock %}


