{% extends 'base.html'%}
{%block title%}加入我们{% endblock%}
{% block head %}
    <link rel="stylesheet" href="../static/css/login-register.css">
    <link rel="stylesheet" href="../static/css/myself.css">
{% endblock %}
{% block main %}
<div class="page-header  gao-du">
  <div class="jumbotron">
  <h1 style="text-align: center;">如画旅游</h1>
  <p style="text-align: center">我们是致力于大学生穷游一族的平台</p>
</div>
<div class="container">
  <h1>平台的构想</h1>
  <p>我们希望每个大学生都能享受旅游本身的快乐:</p>
  <blockquote class="lead">
    <p> 现在的旅行社线路太过于死板，
        乏味，单纯的为了旅游而旅游，上车睡觉，
        下车拍照。而现在大学生追求个性化，
        特殊化，自由化，在旅行方面，
        不仅仅只关注于目的地的风景，
        而且也非常关注旅行过程，比如玩了什么好玩的，
        见到了什么有意思的东西，也就是说注重旅途体验感，
        所以在专门针对大学生制定旅游线路，
        注重旅途体验感，有非常大的空间。</p>
      <p>
          如果你有想加入我们的想法，请将你的基本信息发送至邮箱：1506833419@168.com
      </p>
    <footer class="blockquote-footer">From Lin's website</footer>
  </blockquote>
</div>
</div>

{% endblock %}